<h1>Dear <%= get_full_name(@user) %>,</h1>
    <p>
      We have received password reset request recently, you can click on the following link to reset your password.
      .<br>
    </p>
    <p>
      To reset you password click the link: <%= link_to 'Reset Password',@url %>.
    </p>
  