<h1>Welcome to MyGo, <%= get_full_name(@user) %></h1>
    <p>
      You have successfully signed up for MGo,
      your email is: <%= @user.email %>.<br>
    </p>
    <p>
      Your verification code is: <%= @code %>.
    </p>
<p>Thanks for joining and have a great day!</p>