<div style="margin: 30 auto">
    <object data="/privacy_policy/mygo_privacy_policy.pdf"  type="application/pdf" style="width: 100%; min-height: 900px;">
        alt : <a href="/privacy_policy/mygo_privacy_policy.pdf" download>Privacy.pdf</a>
    </object>
</div>