<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="<%= asset_path 'logo.png' %>" alt="logo">
              </div>
               <%= render "shared/notice" %>
              
              <form class="pt-3"  method="post">
                          
              <input type='hidden' name="authenticity_token" id="auth_token" value="<%= form_authenticity_token %>">
              <input type='hidden'  id="ph_no" value="<%= session[:phone_number] %>">
                <div class="form-group">
                <input type="text" id="code" class="form-control" />
                </div>
                <div class="form-group">
                <div id="recaptcha-container_new"></div>            
                </div><!-- form group-->
              
                <div class="my-3">
                  <input type="button" class="btn btn-block btn-primary btn-lg font-weight-medium" value="Verify" id="id="confirm-code">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

