<!-- Modal -->
<div class="modal fade loading_modal" id="import_events_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center;">
        <!-- spinner -->
        <div class="spinner-border" role="status" style="margin: 23px auto;">
         <span class="sr-only">Loading...</span>
       </div>
       <!-- end -->
      <p>Importing events please wait</p>
        </div>
    </div>
  </div>
</div>