
<p>Enter chat and press enter.</p>
<input id="input" placeholder="Your Message Here"/>
<input type="text" id="uu_id" placeholder="Username">
<p>Chat Output:<p>
<div id="box"></div>
<%= javascript_include_tag 'https://cdn.pubnub.com/sdk/javascript/pubnub.4.23.0.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-compat/3.0.0-alpha1/jquery.min.js' %>
<%= javascript_include_tag 'chat.js' %>
